emacs/elpa
emacs/auto-save-list
maxima
GeoGebra/*
hexchat/*
wxMaxima.conf
mpd/*
!mpd/mpd.conf
keepassxc/
pcmanfm/
menus
git
pki
cef_user_data
dconf
Kitware
libfm
menus
QtProject.conf
yay
elinks/bookmarks
elinks/cookies
elinks/globhist
elinks/gotohist
nvim/plugged
ranger/plugins
pulse
nvim/spell
BraveSoftware/
zsh/.zcompdump
